<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebPartExtend" type="UFSoft.UBF.UI.Custom.ExtendedPartSection, UFSoft.UBF.UI.FormProcess" />
  </configSections>

  <WebPartExtend>
   
    <ExtendedPart
    parentPartFullName="UFIDA.U9.SCM.SM.SOUIModel.StandardSOMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHTianRiSheng.UIPlugin.SO_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHTianRiSheng.UIPlugin.dll">
    </ExtendedPart>
   
    <ExtendedPart
    parentPartFullName="SOSaleDiscountRef.SOSaleDiscountRefWebPart" extendedPartFullName="U9.VOB.Cus.HBHTianRiSheng.UIPlugin.SOSaleDiscountRef_UIPlugin"  extendedPartAssemblyName="U9.VOB.Cus.HBHTianRiSheng.UIPlugin.dll">
    </ExtendedPart>


  </WebPartExtend>


</configuration>



